<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Menjava zimskih gum</h2>
        <h3>2.11.2019</h3>
        <h4>Miha Kovač</h4>
        <p>Nakup novih zimskih gum, menjava</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Popravilo prednjega odbijača</h2>
        <h3>15.10.2019</h3>
        <h4>Luka Novak</h4>
        <p>Nakup odbijača, barvanje, montaža</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
